<div class="buttons">
  <button mat-flat-button
          class="add-test"
          (click)="onAddTest()"
          color="primary">{{ 'quizes.actions.add' | translate }}</button>
</div>
<mat-form-field appearance="fill"
                class="search-field">
  <mat-label>{{'actions.search' | translate}}</mat-label>
  <input matInput
         [value]="value"
         (keyup)="onSearch($event.target.value)"
         placeholder="{{'actions.search' | translate}}"
         #input>
</mat-form-field>