<div class="example-action-buttons" *ngIf="topicList?.length > 0">
  <button mat-button (click)="accordion.openAll()">{{'actions.expandAll' | translate}}</button>
  <button mat-button (click)="accordion.closeAll()">{{'actions.collapseAll' | translate}}</button>
</div>
<mat-accordion multi>
  <mat-expansion-panel togglePosition="before" *ngFor="let topic of topicList; trackBy:trackByTopic">
    <mat-expansion-panel-header>
      <mat-panel-title class="topic-title">
        {{topic.title}}
      </mat-panel-title>
      <mat-panel-description class="topic-header">
        {{ 'topics.countOfQuestions' | translate }}:{{topic.countOfQuestions}}
        <div (click)="$event.stopPropagation();">
          <button mat-icon-button
                  color="primary"
                  title="{{'actions.edit' | translate}}">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button
                  disabled
                  color="accent"
                  title="{{'actions.delete' | translate}}">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <td-questions-list [questionList]="topic.questionList"></td-questions-list>
  </mat-expansion-panel>
</mat-accordion>
