<ng-container *ngIf="topicList$ | async as topicList">
  <div class="example-action-buttons" *ngIf="topicList.length > 0">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel togglePosition="before" *ngFor="let topic of topicList">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{topic.title}}
        </mat-panel-title>
<!--        <mat-panel-description>-->
<!--          Type your name and age-->
<!--          <mat-icon>account_circle</mat-icon>-->
<!--        </mat-panel-description>-->
      </mat-expansion-panel-header>
      Questions
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
