<div class="form-line">
  <td-topic-assignment [quizId]="quizId"></td-topic-assignment>
</div>
<div class="form-line">
  <mat-form-field appearance="outline"
                  class="form-field">
    <mat-label>{{ 'questions.category' | translate }}</mat-label>
    <mat-select class="ts-questions-category-selector">
      <mat-option *ngFor="let category of questionsCategories; trackBy:trackBy"
                  [value]="category">
        {{('questions.categories.' + category) | translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline"
                  class="form-field">
    <mat-label>{{ 'questions.weight' | translate }}</mat-label>
    <mat-select class="ts-questions-weight-selector">
      <mat-option *ngFor="let weight of weights; trackBy:trackBy"
                  [value]="weight">
        {{weight}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="form-line">
  <mat-form-field appearance="outline"
                  class="form-field">
    <mat-label>{{ 'questions.description' | translate }}</mat-label>
    <input matInput
           class="ts-description"
           placeholder="{{ 'questions.descriptionPlaceholder' | translate }}"
           type="text">
  </mat-form-field>
</div>