<mat-card-content [formGroup]="form">
  <mat-form-field appearance="outline"
                  class="form-field">
    <mat-label>{{ 'teachers.position' | translate }}</mat-label>
    <input matInput
           class="ts-position"
           formControlName="position"
           placeholder="{{ 'teachers.position' | translate }}">
    <mat-error *ngIf="form.position.hasError('required')">
      {{'errors.required' | translate}}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline"
                  class="form-field">
    <mat-label>{{ 'teachers.lastName' | translate }}</mat-label>
    <input matInput
           class="ts-last-name"
           formControlName="lastName"
           placeholder="{{ 'teachers.lastName' | translate }}">
    <mat-error *ngIf="form.lastName.hasError('required')">
      {{'errors.required' | translate}}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline"
                  class="form-field">
    <mat-label>{{ 'teachers.name' | translate }}</mat-label>
    <input matInput
           class="ts-name"
           formControlName="name"
           placeholder="{{ 'teachers.name' | translate }}">
    <mat-error *ngIf="form.name.hasError('required')">
      {{'errors.required' | translate}}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline"
                  class="form-field">
    <mat-label>{{ 'teachers.patronymic' | translate }}</mat-label>
    <input matInput
           class="ts-patronymic"
           formControlName="patronymic"
           placeholder="{{ 'teachers.patronymic' | translate }}">
    <mat-error *ngIf="form.patronymic.hasError('required')">
      {{'errors.required' | translate}}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline"
                  class="form-field">
    <mat-label>{{ 'teachers.password' | translate }}</mat-label>
    <input matInput
           class="ts-password"
           formControlName="password"
           placeholder="{{ 'teachers.password' | translate }}"
           [type]="hide ? 'password' : 'text'">
    <button mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'teachers.hidePassword' | translate"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.password.hasError('required')">
      {{'errors.required' | translate}}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline"
                  class="form-field">
    <mat-label>{{ 'teachers.confirmPassword' | translate }}</mat-label>
    <input matInput
           class="ts-confirm-password"
           formControlName="confirmPassword"
           placeholder="{{ 'teachers.confirmPassword' | translate }}"
           [type]="hide ? 'password' : 'text'">
    <button mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'teachers.hidePassword' | translate"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.confirmPassword.hasError('required')">
      {{'errors.required' | translate}}
    </mat-error>
    <mat-error *ngIf="form.confirmPassword.hasError('notMathced')">
      {{'errors.notMathced' | translate}}
    </mat-error>
  </mat-form-field>
</mat-card-content>
<mat-card-actions align="end">
  <button mat-button
          class="ts-cancel-button"
          title="{{ 'actions.cancel' | translate }}"
          (click)="action.emit(teacherActions.cancel)">{{ 'actions.cancel' | translate }}</button>
  <button mat-stroked-button
          [disabled]="isDisable"
          (click)="action.emit(teacherActions.save)"
          color="primary"
          class="ts-save-button"
          title="{{ 'actions.save' | translate }}">{{ 'actions.save' | translate }}</button>
</mat-card-actions>