<section class="ts-quiz-page quiz-page"
         *ngIf="quiz$ | async as quiz">
  <td-quizes-details-header [quiz]="quiz"
                            (action)="onAction($event)"></td-quizes-details-header>
  <div class="buttons">
    <a mat-flat-button
       class="ts-add-question add-question"
       color="primary"
       [routerLink]="['questions/add']">{{ 'questions.add' | translate }}</a>
  </div>
  <div class="test-content">
    <td-topics-list [quizId]="quizId"></td-topics-list>
  </div>
</section>
