<section class="ts-login-page login-page">
  <mat-card class="login-page__container">
    <mat-card-title>
      <mat-toolbar color="accent"
                   mat-dialog-title>
        <mat-toolbar-row>
          <h1 class="ts-login-title"
              title="{{ 'teachers.signInTitle' | translate }}">{{ 'teachers.signInTitle' | translate }}</h1>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-card-title>

    <mat-card-content>
      <div class="form-line">
        <mat-form-field appearance="outline"
                        class="form-field">
          <mat-label>{{ 'teachers.selectTeacher' | translate }}</mat-label>
          <mat-select class="ts-teacher-selector"
                      [(ngModel)]="selectedTeacher">
            <mat-option *ngFor="let teacher of (teacherCollection$ | async)  trackBy:trackByTeacher"
                        [value]="teacher">
              {{teacher.lastName}} {{teacher.name}} {{teacher.patronymic}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-icon-button
                color="primary"
                matSuffix
                class="ts-registration-button add-icon"
                (click)="onOpenRegistrationPage()"
                [attr.aria-label]="'teachers.newTeacherTitle' | translate"
                title="{{ 'teachers.newTeacherTitle' | translate }}">
          <mat-icon>person_add</mat-icon>
        </button>
      </div>
      <mat-form-field appearance="outline"
                      class="form-field">
        <mat-label>{{ 'teachers.password' | translate }}</mat-label>
        <input matInput
               class="ts-password"
               [(ngModel)]="password"
               placeholder="{{ 'teachers.password' | translate }}"
               [type]="hide ? 'password' : 'text'">
        <button mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'teachers.hidePassword' | translate"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      
      <mat-error *ngIf="isShowError" @fadeInContentByHeightOpacity>
        {{'errors.passwordNotEqual' | translate}}
      </mat-error>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button
              title="{{ 'buttons.help' | translate }}"
              class="ts-help-button">{{ 'buttons.help' | translate }}</button>
      <button mat-raised-button
              [disabled]="isDisable"
              color="primary"
              (click)="onSignIn()"
              title="{{ 'buttons.signIn' | translate }}"
              class="ts-login-button">{{ 'buttons.signIn' | translate }}</button>
    </mat-card-actions>
  </mat-card>
</section>