.teacher_actions {
  display: flex;
  width: 40rem;
  justify-content: space-around;
  padding: 2rem;
  margin: auto;
}

.teacher__action {
  padding: 4rem 1rem;
  & .teacher__action {
    margin-left: 1rem;
  }
}

.table {
  padding: 1.5rem;
}