<section class="ts-registration-page registration-page">
  <mat-card class="registration-page__container">
    <mat-card-title>
      <mat-toolbar color="accent">
        <mat-toolbar-row>
          <ng-container *ngIf="!isEdit;else editHeaderTitle">
            <h1 class="ts-registration-title"
                title="{{ 'teachers.newTeacherTitle' | translate }}">{{ 'teachers.newTeacherTitle' | translate }}</h1>
          </ng-container>
          <ng-template #editHeaderTitle>
            <h1 class="ts-registration-title"
                title="{{ 'teachers.editTeacherTitle' | translate }}">{{ 'teachers.editTeacherTitle' | translate }}</h1>
          </ng-template>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-card-title>
    <mat-card-content [formGroup]="form">
      <mat-form-field appearance="outline"
                      class="form-field">
        <mat-label>{{ 'teachers.position' | translate }}</mat-label>
        <input matInput
               class="ts-position"
               formControlName="position"
               placeholder="{{ 'teachers.position' | translate }}">
        <mat-error *ngIf="form.position.hasError('required')">
          {{'errors.required' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      class="form-field">
        <mat-label>{{ 'teachers.lastName' | translate }}</mat-label>
        <input matInput
               class="ts-last-name"
               formControlName="lastName"
               placeholder="{{ 'teachers.lastName' | translate }}">
        <mat-error *ngIf="form.lastName.hasError('required')">
          {{'errors.required' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline"
                      class="form-field">
        <mat-label>{{ 'teachers.name' | translate }}</mat-label>
        <input matInput
               class="ts-name"
               formControlName="name"
               placeholder="{{ 'teachers.name' | translate }}">
        <mat-error *ngIf="form.name.hasError('required')">
          {{'errors.required' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline"
                      class="form-field">
        <mat-label>{{ 'teachers.patronymic' | translate }}</mat-label>
        <input matInput
               class="ts-patronymic"
               formControlName="patronymic"
               placeholder="{{ 'teachers.patronymic' | translate }}">
        <mat-error *ngIf="form.patronymic.hasError('required')">
          {{'errors.required' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline"
                      class="form-field">
        <mat-label>{{ 'teachers.password' | translate }}</mat-label>
        <input matInput
               class="ts-password"
               formControlName="password"
               placeholder="{{ 'teachers.password' | translate }}"
               [type]="hide ? 'password' : 'text'">
        <button mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'teachers.hidePassword' | translate"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.password.hasError('required')">
          {{'errors.required' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline"
                      class="form-field">
        <mat-label>{{ 'teachers.confirmPassword' | translate }}</mat-label>
        <input matInput
               class="ts-confirm-password"
               formControlName="confirmPassword"
               placeholder="{{ 'teachers.confirmPassword' | translate }}"
               [type]="hide ? 'password' : 'text'">
        <button mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'teachers.hidePassword' | translate"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="form.confirmPassword.hasError('required')">
          {{'errors.required' | translate}}
        </mat-error>
        <mat-error *ngIf="form.confirmPassword.hasError('notMathced')">
          {{'errors.notMathced' | translate}}
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions align="end">
      <button mat-button
              class="ts-cancel-button"
              title="{{ 'actions.cancel' | translate }}"
              (click)="onCloseDialog()">{{ 'actions.cancel' | translate }}</button>
      <button mat-stroked-button
              [disabled]="isDisable"
              (click)="onSave()"
              color="primary"
              class="ts-save-button"
              title="{{ 'actions.save' | translate }}">{{ 'actions.save' | translate }}</button>
    </mat-card-actions>
  </mat-card>
</section>