<section class="person">
  <div class="person__data">
    <div class="mat-body">{{teacher.position}}</div>
    <div class="mat-body">{{teacher.lastName}} {{teacher.name}} {{teacher.patronymic}}</div>
  </div>
  <button mat-mini-fab
          color="basic"
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with menu icon">
    {{shortName}}
  </button>
</section>
<mat-menu #menu="matMenu">
  <button mat-menu-item
          (click)="onEditTeacher()">
    <mat-icon>create</mat-icon>
    <span>{{'actions.edit' | translate}}</span>
  </button>
  <button mat-menu-item
          (click)="onSignOut()">
    <mat-icon>exit_to_app</mat-icon>
    <span>{{'actions.signOut' | translate}}</span>
  </button>
</mat-menu>