<div class="buttons">
  <button mat-flat-button
          class="ts-add-question _action"
          (click)="onAddQuestion()"
          color="primary">{{ 'questions.add' | translate }}</button>
</div>
<mat-form-field appearance="fill"
                class="search-field">
  <mat-label>{{'actions.search' | translate}}</mat-label>
  <input matInput
         [value]="value"
         (keyup)="onSearch($event.target.value)"
         placeholder="{{'actions.search' | translate}}">
  <button *ngIf="value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="onSearch('')">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>