<div class="topic-assignment">
  <mat-form-field appearance="outline"">
    <mat-label>{{ 'topics.topic' | translate }}</mat-label>
    <mat-select>
      <mat-option *ngFor="let topic of topics; trackBy:trackBy" [value]="topic.id">
      {{topic.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <button mat-stroked-button
            class="add-topic"
            (click)="onAddTopic()"
            color="primary">{{ 'topics.add' | translate }}</button>
  </div>
</div>