<section class="ts-quiz-page quiz-page">
  <td-quiz-actions [value]="search"
                   (action)="onAction($event)"></td-quiz-actions>
  <!-- <form [formGroup]="form"
        class="test-form">
    <mat-form-field appearance="outline"
                    class="form-field">
      <mat-label>{{ 'quizes.name' | translate }}</mat-label>
      <input matInput
             class="ts-test-name-field input-field"
             formControlName="name"
             placeholder="{{ 'quizes.name' | translate }}">
      <mat-error *ngIf="form.name.hasError('required')">
        {{'errors.required' | translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline"
                    class="form-field">
      <mat-label>{{ 'quizes.discipline' | translate }}</mat-label>
      <input matInput
             class="ts-discipline-field input-field"
             formControlName="discipline"
             placeholder="{{ 'quizes.discipline' | translate }}">
      <mat-error *ngIf="form.name.hasError('required')">
        {{'errors.required' | translate}}
      </mat-error>
    </mat-form-field>
  </form> -->
  <div class="test-content">
    <!-- <mat-toolbar>
      <mat-toolbar-row class="header-row">
        <span>{{ 'questions.count' | translate }}: 0</span>
        <div>
          <button mat-raised-button
                  class="ts-save-button _action"
                  [disabled]="form.invalid"
                  matTooltip="{{ 'actions.save' | translate }}"
                  [attr.aria-label]="'actions.save' | translate"
                  (click)="onSave()"
                  color="accent">{{'actions.save' | translate}}</button>
          <button mat-raised-button
                  class="ts-cancel-button _action"
                  matTooltip="{{ 'actions.cancel' | translate }}"
                  [attr.aria-label]="'actions.cancel' | translate"
                  [routerLink]="['/tests']">{{'actions.cancel' | translate}}</button>
        </div>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <button mat-raised-button
                matTooltip="{{ 'questions.add' | translate }}"
                [attr.aria-label]="'questions.add' | translate"
                color="primary">{{'questions.add' | translate}}</button>
      </mat-toolbar-row>
    </mat-toolbar> -->
    <div class="question-list">
      <td-questions-list></td-questions-list>
    </div>
  </div>
</section>